<!-- <p>หน่วยกิจที่ใช้คำนวณ: {{ totalCredit() }}</p>
<p>เกรดเฉลี่ยสะสม: {{ totalGpa() | number : '1.2-2' }}</p>
 -->

<div class="row mt-3">
  <div class="col-md-3">
    <h2>คำนวณเกรด</h2>
  </div>
  <div class="col-md-3 mt-2">
    <p>เกรดเฉลี่ยสะสม: {{ totalGpa() | number: '1.2-2' }}</p>
  </div>
  <div class="col-md-2 mt-2">
    <p>หน่วยกิตสะสม: {{ totalCredit()}}</p>
  </div>
  <div class="col-md-2">
    <button class=" btn btn-success btn-block btn-sm" (click)="addSubject()">
      เพิ่มวิชา
    </button>
  </div>
  <div class="col-md-2">
    <button class=" btn btn-danger btn-block btn-sm" (click)="clearSubjects()">
      ลบทั้งหมด
    </button>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <p class="mb-0">
          ดึงข้อมูลวิชา
          <small class="text-success">(<i class="fa fa-key" aria-hidden="true"></i>ไม่มีการรหัสผ่าน)</small>
        </p>
      </div>
      <div class="col-md-6">
        <form (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-5 form-group mb-0">
              <div class="input-group input-group-sm">
                <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="อีเมล">
                <div class="input-group-append">
                  <span class="input-group-text">@cmu.ac.th</span>
                </div>
              </div>
            </div>

            <div class="col-md-4 form-group mb-0">
              <input type="password" name="email" [(ngModel)]="password" class="form-control form-control-sm" placeholder="รหัสผ่าน">
            </div>

            <div class="col-md-2 form-group mb-0">
              <button type="submit" class="btn btn-block btn-sm btn-outline-success" *ngIf="!isLoading">
                ยืนยัน
              </button>
              <button type="button" class="btn btn-block btn-sm btn-outline-secondary" *ngIf="isLoading">
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-3">
        <span *ngIf="isError" class="text-warning">
          <strong>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </strong>
          อีเมล หรือ รหัสผ่านไม่ถูกต้อง
        </span>
      </div>
    </div>
  </div>
</div>

<table class="table table-sm table-striped table-bordered mt-4">
  <thead>
    <tr class="bg-dark text-white">
      <th width="65%">ชื่อวิชา</th>
      <th width="15%" class="text-center">หน่วยกิจ</th>
      <th width="15%" class="text-center">เกรด</th>
      <th width="5%" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subject of subjects">
      <td class="text-muted">
        <input type="text" name="credit" [(ngModel)]="subject.title" class="form-control form-control-sm" placeholder="ชื่อวิชา" (change)="saveSession()">
      </td>
      <td class="text-muted text-center">
        <input type="number" name="credit" [(ngModel)]="subject.credit" class="form-control form-control-sm">
      </td>
      <td class="text-muted text-center">
        <select name="grade" [(ngModel)]="subject.grade" class="form-control form-control-sm">
          <option value="4">A</option>
          <option value="3.5">B+</option>
          <option value="3">B</option>
          <option value="2.5">C+</option>
          <option value="2">C</option>
          <option value="1.5">D+</option>
          <option value="1">D</option>
          <option value="0">F</option>
          <option value="-2">S</option>
          <option value="-1">W</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="remove($index)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
